.barra {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	@include tablet {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.derecha {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include tablet {
		align-items: flex-end;
		flex-direction: row-reverse;
	}
}
.darkmode-boton {
	width: 3rem;
	filter: invert(100%);
	@include tablet {
		margin-left: 2rem;
	}
	&:hover {
		filter: invert(71%) sepia(61%) saturate(4607%) hue-rotate(44deg)
			brightness(95%) contrast(100%);

		cursor: pointer;
	}
}
.navegacion {
	display: none;
	@include tablet {
		display: flex;

		align-items: center;
	}
	a {
		color: $blanco;
		text-decoration: none;
		font-size: 2.2rem;
		display: block;
		text-align: center;
		font-size: 1.8rem;
		@include tablet {
			margin-right: 2rem;
			&:last-of-type {
				margin-right: 0;
			}
			&:hover {
				color: $verde;
			}
		}
	}
}

.mostrar {
	display: block;
	@include tablet {
		display: flex;
	}
}
/**Menu de hamburguesa**/
.mobile-menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	@include tablet {
		display: none;
	}
	img {
		width: 3.5rem;
	}
	&:hover {
		cursor: pointer;
	}
}
